<div class="d-flex flex-row">
  <!-- Sidebar -->
  <nav class="sidebar navbar navbar-dark bg-dark flex-column border-secondary"
    [ngClass]="{'border-end': navLeft$ | async, 'border-start order-3': navRight$ | async}">
    <ul class="navbar-nav">
      <li class="nav-item border-secondary border-bottom" ngbTooltip="Home" placement="right" container="body">
        <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="bi bi-house fs-2"></i>
        </a>
      </li>
      <li class="nav-item" ngbTooltip="Map" placement="right" container="body">
        <a routerLink="/map" class="nav-link" routerLinkActive="active">
          <i class="bi bi-map fs-2"></i>
        </a>
      </li>
      <li class="nav-item" *ngIf="lastMfd$ | async as lastMfd" [ngbTooltip]="lastMfd.name" placement="right"
        container="body">
        <a [routerLink]="lastMfd.path" class="nav-link" routerLinkActive="active">
          <i class="bi bi-speedometer2 fs-2"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-lower">
      <li class="nav-item border-secondary" ngbTooltip="MFD Self Test" placement="right" container="body"
        *ngIf="mfdControls.mfd$| async as mfd">
        <button class="nav-link" (click)="mfdControls.runSelfTest()">
          <i class="bi bi-wrench-adjustable-circle fs-2"></i>
        </button>
      </li>
      <li class="nav-item border-secondary" ngbTooltip="Settings" placement="right" container="body">
        <button class="nav-link" (click)="onSettingClick()">
          <i class="bi bi-gear fs-2"></i>
        </button>
      </li>
      <li class="nav-item border-secondary" ngbTooltip="Toggle Fullscreen Mode" placement="right" container="body">
        <button class="nav-link" (click)="onFullscreenToggle()">
          <i class="bi fs-2"
            [ngClass]="(isFullscreen$ | async) ? 'bi-arrows-angle-contract' : 'bi-arrows-angle-expand'"></i>
        </button>
      </li>
    </ul>
  </nav>

  <div class="content flex-fill vh-100">
    <router-outlet></router-outlet>
  </div>
</div>
