.leaflet-container {
  filter: brightness(var(--brightness, 1));
}

::ng-deep {
  .leaflet-layer {
    &.grayscale {
      filter: grayscale(var(--osm-grayscale, 1));
    }
  }
  .leaflet-control-button {
    width: 44px !important;
    height: 44px !important;
    line-height: 44px !important;
  }
}
